// screen breakpoints
$screen-xs: 576px;
$screen-sm: 768px; 
$screen-md: 1024px; 
$screen-lg: 1280px;

//colors
$light-background-color : #1b212b ;
$dark-blue: #141922;
$border-color:#181D26;
$grey1: #A9B5CC;
$grey2: #272B35;
$white: #ffffff;
$green: #46C351;
$hr-color: #3A424E;

//font-family 
$ubuntu : Ubuntu;

.header{
    background-color: $dark-blue;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    .dropdown {
        &:hover {
            .dropdown__content{
                width: 100%;
                display: block;
            }

            .dropdown__dropbtn { 
                width: 100%;
                background-color: $dark-blue;
            }
        }

        &:active :focus{
            background-color: $dark-blue;
        }

        @media only screen and (min-width: $screen-xs) {
            display: none;
        }
        
        &__dropbtn {
            width: 100%;
            background-color: $dark-blue;
            color: $white;
            padding: 5px;
            border: none;
            cursor: pointer;
        }

        &__content{
            display: none;
            position: absolute;
            background-color: $dark-blue;
            min-width: 160px;
            z-index: 1;
            text-align: center;

            &__link{
                color: $white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                font-family: 'Ubuntu';

                &:hover{                   
                    font-size: 17px;
                    background-color: #4c677c;
                }
            }
        }  
    }

    .header-wrap{  
        display: none;
        padding: 12px;
        width: 100%;

        @media only screen and (min-width: $screen-xs) {
            display: block;    
            width: 94%;
            margin: 0 auto;
        }

        @media only screen and (min-width: $screen-sm) {
            width: 95%;
            display: flex;
        }
            
        @media only screen and (min-width: $screen-md) {
            width: 78%;
            padding-right: 0;
            padding-left: 0;
        }

        .nav{
            @media only screen and (min-width: $screen-sm) {
                width: 90%;
            }

            &__list{
                align-items: center;
                margin-bottom: 0px;
                list-style-type: none;
                display: flex;
                padding-left: 0;
                justify-content: space-between;
                width: 100%; 

                @media only screen and (min-width: $screen-sm) {
                    justify-content: flex-start;
                    margin: 0;
                    width: 90%;

                    &__element:last-child{
                        display: none;
                    }
                }

                &__element{
                    font-family: $ubuntu;
                    font-size: 17px;
                    color: $grey1;
                    
                    &:hover{
                        padding: 0px 11px;
                        border-bottom: 2px solid #4c677c;      
                    }

                    @media only screen and (min-width: $screen-sm) {
                        font-size: 15px;

                        &:hover{
                            padding: 0;      
                        }
                    }

                    @media only screen and (min-width: $screen-md) {

                        &:hover{
                            padding: 0;       
                        }
                    }

                   @media only screen and (min-width: $screen-lg) {
                        font-size: 21px;
                    }
                    
                    &__link-logo{
                        color: $grey1;
                        text-decoration: none;
                        display: flex;
                        font-size: 28px;
                        font-family: $ubuntu;
                        text-transform: uppercase;
                        
                        @media only screen and (min-width: $screen-sm) {
                            font-size: 30px;
                        }

                        @media only screen and (min-width: $screen-md) {
                            font-size: 36px;
                            padding-right: 10px;
                            margin-bottom: 5px;
                        }

                        .bold-logo {
                            font-weight: 700;
                        }
                    }

                    &__link-menu{
                        text-decoration: none;
                        color: $grey1;
                        display: flex;

                        @media only screen and (min-width: $screen-sm) {
                            padding: 5px 10px 5px 15px;
                            margin-top: 10px;
                        }

                        @media only screen and (min-width: $screen-md) {
                            padding: 7px 15px;
                            margin-top: 10px;
                        }

                        @media only screen and (min-width: $screen-lg) {
                            padding: 0px 10px;
                            margin-top: 0;                          
                        }
                        
                        &__link-menu:hover{
                            font-size: 20px;
                            color: $grey1;
                        }
                    }

                    &-imgs{
                        width: 24px;
                        height: 20px;
                        margin-right: 5px;
                        
                        @media only screen and (min-width: $screen-lg) {
                            margin: 5px;
                        }
                    }

                    &__shopping{
                        text-decoration: none;
                        display: flex;
                        padding-top: 5px;
                        
                        @media only screen and (min-width: $screen-sm) {
                            width: 10%;
                        }                      
                        
                        &__img{
                            width: 20px;
                            height: 24px;
                            margin-right: 5px;
                        }

                        &__elements-in-cart{
                            margin: 0;
                            padding: 0 5px 5px 5px;
                            font-family: $ubuntu;
                            font-size: 19px;
                            color: $grey1;
                        }
                    }                
                }               
            }

            &__shopping-cart{
                display: none;
                margin-top: 13px;
                width: 10%;

                @media only screen and (min-width: $screen-sm) {
                    display: block;   
                }

                &__icon{
                    display: flex;
                    float: right;
                    text-decoration: none;

                    &-img{
                        width: 20px;
                        height: 24px;
                        margin-right: 6px;
                    }

                    &-number{
                        color: $grey1;
                        font-size: 19px;
                    }                   
                }
            }
        }
    }
}
.main{
    margin-top: 50px;
    background-color: $light-background-color;

    @media only screen and (min-width: $screen-xs) {
        padding: 7px 0;
        margin-top: 50px;
    }

    @media only screen and (min-width: $screen-sm) {
        padding: 30px 0;
        margin-top: 64px;
    }

    .col-no-padding {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .row {
        margin: 0 !important
    }

    .carousel {
        &-wrap {
            background-color: $light-background-color;
        }

        &-inner {
            border-radius: 3px;
        }

        .display {
            &--mobile {
                @media screen and (min-width: $screen-md) {
                    display: none;
                }
            }

            &--desktop {
                display: none;
                @media screen and (min-width: $screen-md) {
                    display: block;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            @media screen and (min-width: $screen-md) {
                display: none !important;
            }
        }

        .photo {
            width: 100%;
            height: 363px;

            &-wrap {
                position: relative;
            }

            &__description {
                position: absolute;
                top: 15px;
                left: 20px;

                &__title {
                    color: $white;
                    font-weight: 700;
                    display: block;
                }

                &__info {
                    color: $white;
                    display: block;
                }
            }
        }

        .slide-description {
            &-wrap {
                background-color: $grey2;

                @media screen and (min-width: $screen-md) {
                    position: relative;
                }
            }

            color: $grey1;
            box-sizing: border-box;
            padding: 10px 10px 0 10px !important;

            &__ticket {
                background-color: $light-background-color;
                box-sizing: border-box;
                padding: 10px;
                margin-top: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                border-radius: 6px;
                margin-bottom: 15px;

                @media screen and (min-width: $screen-md) {
                    margin-bottom: 0;
                    position: absolute;
                    bottom: 15px;
                }

                &__price {
                    &__amount,
                    &__description{
                        margin-bottom: 0;
                    } 
                }

                &__buy-btn {
                    background: $green;
                    border: 1px solid $green;
                    border-radius: 4px;
                    color: $white;
                }
            }
        }
    }
    
    .custom-btn-wrap {
        display: none;

        @media screen and (min-width: $screen-md) {
            display: flex;
        }

        .previous-btn,
        .next-btn {
            cursor: pointer;
            color: $grey1;
            background-color: $grey2;
            border-radius: 6px;

            &__icon {
                padding: 0 12px;
            }
        }
    }

    .preparation{
        @media only screen and (min-width: $screen-md) {
            width: 84%;
            margin:  0 auto;
            padding-top: 40px;
            padding-bottom: 20px;
        }
        
        &__list{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            list-style-type: none;
            margin-top: 15px;
            justify-content: space-between;
            
            @media only screen and (min-width: $screen-xs) {
                flex-direction: row;
            }

            &__element{
                &__imgs{                  
                    width: 80px;

                    @media only screen and (min-width: $screen-xs) {
                        width: 70px;
                    }
                }

                &__figcaption{
                    text-align: center;
                    font-size: 21px;
                    color: $grey1; 
    
                    @media only screen and (min-width: $screen-xs) {
                        font-size: 15px;
                    }
                }

                &__right-direction{
                    display: none;
                    color: $grey1;
    
                    @media only screen and (min-width: $screen-xs) {
                        display: block;
                    }
                }
    
                &__down-direction{
                    color: $grey1;
    
                    @media only screen and (min-width: $screen-xs) {
                        display: none;
                    }
                }
            }
        
            &__text{
                &__wrap{
                    padding: 15px 30px; 
                    color:  $grey1;
                    text-transform: uppercase;
                    line-height: 0.6;
                    text-align: center;
                    background-color: $grey2;
                    border: 1px solid $border-color ;
                    font-family: 'Ubuntu';
                    letter-spacing: 2px;
                    border-radius: 3px;

                    @media only screen and (min-width: $screen-lg) {
                        padding: 30px 90px; 
                    }

                    &-first-row{
                        font-size: 44px;
                        letter-spacing: 0;
                    }
        
                    &-second-row{
                        margin-bottom: 0px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .info{
        padding: 0 20px;
        
        @media only screen and (min-width: $screen-xs) {
            width: 100%;
        }
        
        @media only screen and (min-width: $screen-md) {
            width: 84%;
            margin: 0 auto;
        }

        &__title{
            color: $grey1;
        }

        &__horizontal-line{
            display: none;
            border-top: 1px solid $hr-color;
            padding-bottom: 15px;
            width: 66%;

            @media only screen and (min-width: $screen-sm) {
                display: block;
            }
        }

        &__wrap{
            @media only screen and (min-width: $screen-md) {
                width: 70%;
            }

            &__description{
                line-height: 1.9;
                font-size: 17px;
                color: $grey1;
                padding-bottom: 10px;

                @media only screen and (min-width: $screen-xs) {
                    font-size: 15px;
                }
                
                @media only screen and (min-width: $screen-xs) {
                    font-size: 13px;
                }
            }

            &__btn{
                font-size: 20px;
                margin-bottom: 17px;
                padding: 10px 20px;
                color: $white;
                border-radius: 3px;
                background-color: $green;
                border: none;
            }
        }
    }
} 

.footer {
    background-color: $dark-blue;

    &__wrap{
        color: $grey1;
        padding: 20px;
        font-size: 15px;

        &__coppyright{
            display: block;
            padding-bottom: 10px;
        }

        &__info{
            display: block;
            

          &__element:last-child{
            padding-bottom: 35px;
          }
        }

        @media only screen and (min-width: $screen-md) {
            width: 78% !important;
            margin: 0 auto;
        }
    }
}